<h1> Success Stories / Expertises </h1>

<section> 
	<h2> Quandoo </h2>
	<div> After getting a basic understanding of B10, they want to find out what the company has achieved so far. They do that for two reasons: </div>
</section>

<section> 
	<h2> Sensorborg </h2>
	<div> Learn what exactly   it is B10 does and   which field they are specialising in. </div>
</section>

<section> 
	<h2> Pressmatrix </h2>
	<div> Find proof that the people at B10 know what they are doing. </div>
</section>